- content_for :page_title do
  = t("telecash.settings.telecash_settings")

= form_for(@config, as: "telecash_configuration", :url => admin_telecash_settings_path, :method => :put) do |form|
  %div#telecash-settings
    %fieldset.general.no-border-top
      .row
        .field.col-xs-12.col-md-6
          = label_tag("preferences[url]", t("telecash.settings.url"))
          %br
          = preference_field_tag("preferences[url]", @config[:url], :type => :string)
      .row
        .field.col-xs-12.col-md-6
          = label_tag("preferences[store]", t("telecash.settings.store"))
          %br
          = preference_field_tag("preferences[store]", @config[:store], :type => :string)
      .row
        .field.col-xs-12.col-md-6
          = label_tag("preferences[secret]", t("telecash.settings.secret"))
          %br
          = preference_field_tag("preferences[secret]", @config[:secret], :type => :string)
    .form-buttons.filter-actions.actions{"data-hook" => "buttons"}
      = button Spree.t('actions.update'), "save"
