-if needs_telecash_payment?(@order, payment_method)

  %p= "Bitte Zahlungsart auswählen:"

  .list-group
    .list-group-item
      = radio_button_tag "telecash_payment_method", telecash_payment_link(@order, payment_method, "V"), true, id: "telecash_payment_method_v"
      %label= "Visa"
    .list-group-item
      = radio_button_tag "telecash_payment_method", telecash_payment_link(@order, payment_method, "M"), false, id: "telecash_payment_method_m"
      %label= "MasterCard"
    .list-group-item
      = radio_button_tag "telecash_payment_method", telecash_payment_link(@order, payment_method, "A"), false, id: "telecash_payment_method_a"
      %label= "American Express"
    .list-group-item
      = radio_button_tag "telecash_payment_method", telecash_payment_link(@order, payment_method, "paypal"), false, id: "telecash_payment_method_paypal"
      %label= "Paypal"
    .list-group-item
      = radio_button_tag "telecash_payment_method", telecash_payment_link(@order, payment_method, "sofort"), false, id: "telecash_payment_method_sofort"
      %label= "SOFORT"

  =link_to "Telecash", telecash_payment_link(@order, payment_method, "dummy"), method: :post



  =link_to "Telecash Success", telecash_success_link(@order), method: :post


-else
  %p="Telecash Zahlung erfolgreich, bitte weitergehen."

